.top{
    display: block;
    margin-bottom: 0px;
}
#welcome{
    border-bottom: solid purple;
}
.aaa{
    display: flex;
}
.bbb{
    display: flex;
}

.search{
    display: flex;
}
.search input{
    margin-top: 25px;
}
#show_top{
    display: flex;
    border-bottom: solid #FFDBED;
}
h1{
    display: flex;
}
h2{
    flex-direction: row;
    margin-right: 22px;
    border-bottom: solid aqua;
}
.button{
    display: flex;
}
#likebtn{
    height:30px;
    width:180px;
    margin: 30px;
}
a{
    text-decoration: none;
}
.post{
    font-size: 40px;
}
#sort{
    flex-direction: column;
}
li{
    list-style: none;
}
form{
    flex-direction:column;
}
p{
    color: red;
}
#post_form{
    display: block;
}
div{
    padding-top: 10px;
    padding-bottom: 10px;
}
ul{
    display: flex;
}
li{
    flex-direction: row;
    margin: auto;
}
button{
    width: 90px;
    height: 30px;
    margin: 10px;
}
.show_database{
    border: double;
}
.error{
    color: red;
}
h4{
    color: red;
}
